<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.mic.generator.beforecommon.exception.handler.CustomSimpleMappingExceptionResolver">
        <property name="defaultStatusCode" value="500"/>
        <property name="defaultErrorView" value="error/global"/>
        <property name="exceptionMappings">
            <props>
                <prop key="com.mic.generator.beforecommon.exception.BusinessException">error/global</prop>
                <prop key="java.lang.RuntimeException">error/global</prop>
            </props>
        </property>
    </bean>

</beans>